{% extends 'home/base.html' %}

{% block content %}
<center>
<table style="text-align: center;">
    {% if user.last_name == "Patient" %}
    <tr style="text-align: center;"><th>Date</th><th>Time</th><th>Consulting Doctor</th><th>Status</th></tr>
    {% for patient_ap in patient_appointments %}
    <tr><th>{{ patient_ap.date }}</th><th>{{ patient_ap.time }}</th><th>{{ patient_ap.doctor }}</th><th>{{ patient_ap.status }}</th></tr>
    {% endfor %}
    {% endif %}
    {% if user.last_name == "Doctor" %}
    <tr><th>Date</th><th>Time</th><th>Patient</th><th>Status</th></tr>
    {% for doctor_ap in doctor_appointments %}
    <tr><th>{{ doctor_ap.date }}</th><th>{{ doctor_ap.time }}</th><th>{{ doctor_ap.patient }}</th><th>{{ doctor_ap.status }}</th></tr>
    {% endfor %}
    {% endif %}
</table>
</center>
{% endblock %}
